{% extends 'base.html.twig' %}

    {% block title %}
        Bienvenue sur  Recipes
    {% endblock %}



    {% block body %}

        <div class="container">
            <div class="jumbotron mt-3">
                <h1 class="display-3">Bienvenue sur Poms Recipes</h1>
                <p class="lead">Nous mettons en relations les recettes de cuisine afin de faire profiter tous le monde!!</p>
                <hr class="my-4">
                <p>Vous aimez les bon petits plats  ? Vous êtes en manque d'inspiration ?</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="{{path('recipe_index')}}" role="button">Voir les recettes</a>
                </p>
            </div>
            <h2 class="h1 mt-3 mb-4">Nos recette stars</h2>
            <div class="row ">
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            Poulet coco  <strong>4 personnes / 45 min</strong><br>
                            <small>Pas encore noté</small>
                        </div>

                        <img src="http:\\placehold.it/1000x400" alt="image de l'appartement"
                             style="height : 200px; width: 100%; display: block">
                        <div class="card-body">
                            <h4 class="card-title">
                                Recettes de ouf !
                            </h4>
                            <p class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </p>
                            <a class="btn btn-secondary">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            Poulet coco  <strong>4 personnes / 45 min</strong><br>
                            <small>Pas encore noté</small>
                        </div>

                        <img src="http:\\placehold.it/1000x400" alt="image de l'appartement"
                             style="height : 200px; width: 100%; display: block">
                        <div class="card-body">
                            <h4 class="card-title">
                                Recette de ouf !
                            </h4>
                            <p class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </p>
                            <a class="btn btn-secondary">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            Poulet coco  <strong>4 personnes / 45 min</strong><br>
                            <small>Pas encore noté</small>
                        </div>

                        <img src="http:\\placehold.it/1000x400" alt="image de l'appartement"
                             style="height : 200px; width: 100%; display: block">
                        <div class="card-body">
                            <h4 class="card-title">
                                Recettes de ouf !
                            </h4>
                            <p class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </p>
                            <a class="btn btn-secondary">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="h1 mt-3 mb-4">Rédacteur stars</h2>
            <div class="row" >
                <div class="col">
                    <div class="card border-secondary mb-3">
                        <div class="card-body">
                            <h4 class="" card-title>POMMIER Romain</h4>
                            <hr>
                            <div class="card-text">
                                <img src="http://placehold.it/70x70" alt="Avatar de POMMIER Romain"
                                     class="float-left mr-3">
                                <p>ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                    architecto beatae vitae </p>
                                <a href="#" class="btn btn-success float-right">En savoir plus.</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-secondary mb-3">
                        <div class="card-body">
                            <h4 class="" card-title>POMMIER Romain</h4>
                            <hr>
                            <div class="card-text">
                                <img src="http://placehold.it/70x70" alt="Avatar de POMMIER Romain"
                                     class="float-left mr-3">
                                <p>ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                    architecto beatae vitae </p>
                                <a href="#" class="btn btn-success float-right">En savoir plus.</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    {% endblock %}
