<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PomsRecipes{% endblock %}</title>
    <link href="/build/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ef753c8ad2.js" crossorigin="anonymous"></script>
    <link href="/build/css/home.css" rel="stylesheet">
    <link href="/build/css/app.css" rel="stylesheet">
    <link href="/build/css/style.css" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
</head>
<body>

{% include 'partials/header.html.twig' %}

{% block body %}{% endblock %}

<script src="/build/js/jquery.min.js"></script>
<script src="/build/js/popper.min.js"></script>
<script src="/build/js/bootstrap.min.js"></script>
{% block javascripts %}{% endblock %}

</body>
{% include 'partials/footer.html.twig' %}
</html>
